[gcode_macro START_PRINT]
gcode:
  EXCLUDE_OBJECT_DEFINE 
  # Load variables
  {% set bed_temp = params.BED_TEMP|default(60)|int %}
  {% set extruder_temp = params.EXTRUDER_TEMP|default(215)|int %}

  G21 ;metric values
  G90 ;absolute positioning

  M117 Wait Bed: {bed_temp}C
  M190 S{bed_temp} ; wait for bed temperature to reach target

  M117 Wait Ext: {extruder_temp}C
  M109 S{extruder_temp}     ; wait for hot end temperature to reach target

  M117 Homing
  G28  
  
  M117 Bed Mesh
  G29 ; Bed mesh calibrate (macro)

  G1 X0 F5000; Move extruder to left side, to avoid filament oozing on center.
    
  # ADAPTIVE_PURGE
  M117 Cleaning
  G1 Z5 F7000
  # G1 X2 Y150 F7000
  # G1 Z20 F7000
  G1 X2 Y4 F7000
  G1 Z0.2 F7000    ; move nozzle close to bed
  G4 P7000        ; wait x seconds for nozzle length to stabilize
  G1 Z15 F10000 E5  ; move 15 mm up, fast, while extruding
  G1 Y120 F7000    ; move nozzle halfway and close to bed
  G1 Z0.2 F7000
  G1 Y190 F7000
  G4 P3000         ; wait X seconds for nozzle length to stabilize
  G92 E0           ; reset extruder
  
  M117 It's Turtle Time!

[gcode_macro END_PRINT]
gcode:
  M104 S0 ; extruder heater off
  M140 S0 ; heated bed heater off
  
  G91                        ; relative positioning
  G1 E-1 F300                ; Release pressure
  G1 Z+10 E-10 F9000         ; move Z up a bit and retract filament even more
  G90                        ; absolute positioning
  G28 X0 Y0                  ; move X/Y to min endstops, so the head is out of the way
  G1 X0 Y200 F5000         ; move completed part out
  M84                        ; steppers off
  M117 Print Ended
  RUN_SHELL_COMMAND CMD=klipper_pushover PARAMS={temp}
  

[gcode_macro CANCEL_PRINT]
gcode:
  END_PRINT
  M117 Print Cancelled
  
######################################################################
# MACROS
######################################################################

# [gcode_macro PING_PUSHOVER]
# gcode:
#   RESPOND PREFIX="info" MSG="Running Python script..."
#   SHELL_COMMAND /home/ssanchez/klipper-pushover.py
#   RESPOND PREFIX="info" MSG="Python script executed."

[gcode_shell_command klipper_pushover]
command: /home/ssanchez/klipper-pushover.py
timeout: 30.
verbose: True

[force_move]
# Enable commands that force potentially unsafe movement
enable_force_move: True

[gcode_macro UNSAFE_aDOWN_10]
description: Force E0 DOWN 10mm
gcode:
  FORCE_MOVE STEPPER=stepper_z DISTANCE=-10 VELOCITY=5

[gcode_macro UNSAFE_aUP_10]
description: Force E0 UP 10mm
gcode:
  FORCE_MOVE STEPPER=stepper_z DISTANCE=10 VELOCITY=5

[gcode_macro UNSAFE_bDOWN_1]
description: Force E0 DOWN 1mm
gcode:
  FORCE_MOVE STEPPER=stepper_z DISTANCE=-1 VELOCITY=5

[gcode_macro UNSAFE_bUP_1]
description: Force E0 UP 1mm
gcode:
  FORCE_MOVE STEPPER=stepper_z DISTANCE=1 VELOCITY=5

[gcode_macro M486]
gcode:
  # Parameters known to M486 are as follows:
  #   [C<flag>] Cancel the current object
  #   [P<index>] Cancel the object with the given index
  #   [S<index>] Set the index of the current object.
  #       If the object with the given index has been canceled, this will cause
  #       the firmware to skip to the next object. The value -1 is used to
  #       indicate something that isn’t an object and shouldn’t be skipped.
  #   [T<count>] Reset the state and set the number of objects
  #   [U<index>] Un-cancel the object with the given index. This command will be
  #       ignored if the object has already been skipped

  {% if 'exclude_object' not in printer %}
    {action_raise_error("[exclude_object] is not enabled")}
  {% endif %}

  {% if 'T' in params %}
    EXCLUDE_OBJECT RESET=1

    {% for i in range(params.T | int) %}
      EXCLUDE_OBJECT_DEFINE NAME={i}
    {% endfor %}
  {% endif %}

  {% if 'C' in params %}
    EXCLUDE_OBJECT CURRENT=1
  {% endif %}

  {% if 'P' in params %}
    EXCLUDE_OBJECT NAME={params.P}
  {% endif %}

  {% if 'S' in params %}
    {% if params.S == '-1' %}
      {% if printer.exclude_object.current_object %}
        EXCLUDE_OBJECT_END NAME={printer.exclude_object.current_object}
      {% endif %}
    {% else %}
      EXCLUDE_OBJECT_START NAME={params.S}
    {% endif %}
  {% endif %}

  {% if 'U' in params %}
    EXCLUDE_OBJECT RESET=1 NAME={params.U}
  {% endif %}

[gcode_macro G29]
gcode:
  BED_MESH_CALIBRATE
  
